body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: #ffaaaa;
	height: 100px;
	flex-shrink: 0;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

.player {
	display: flex;
	justify-content: center;
}

.status {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search {
	display: flex;
	justify-content: center;
}

.main {
	flex-grow: 1;
	overflow: auto;
	display: flex;
	flex-direction: row;
}

.sidebar {
	flex-shrink: 0;

	overflow: auto;
	background-color: #aaffaa;
	width: 200px;
}

.content {
	overflow: auto;
	background-color: #ffaaff;
}

.track {
	border-bottom: 1px solid black;

	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	align-items: center;
}

.track:hover {
	cursor: pointer;
}

.footer {
	background-color: #aaaaff;
	height: 50px;
	flex-shrink: 0;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

.controls {
	display: flex;
	justify-content: center;
}

.metadata {
	display: flex;
	justify-content: center;
}

.settings {
	display: flex;
	justify-content: center;
}
