body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: #ffaaaa;
	height: 100px;
	flex-shrink: 0;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

.player {
	display: flex;
	justify-content: center;
}

.status {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search {
	display: flex;
	justify-content: center;
}

.main {
	/* Without this, a small number of tracks won't fill the screen height. */
	flex-grow: 1;
	/* Without this, the footer gets pushed offscreen. */
	overflow: hidden;
}

.content-header {
	display: flex;
	flex-direction: row;

	font-weight: 700;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.playlist-header {
	/* Without this, the playlist header could get squished by the track header. */
	flex-shrink: 0;

	text-align: center;
	width: 200px;
}

.track-header {
	/* Without this, the track header might not fill the page width. */
	flex-grow: 1;

	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 0.3fr;
	align-items: center;
}

.content {
	/* Without this, the track table cannot be scrolled. */
	height: 100%;

	display: flex;
	flex-direction: row;
}

.playlists {
	/* Without this, the playlists sidebar could get squished by the track table. */
	flex-shrink: 0;

	/* Without this, the playlist table cannot be scrolled. */
	overflow: auto;

	background-color: #aaffaa;
	width: 200px;
}

.tracks {
	/* Without this, the track table might not fill the page width. */
	flex-grow: 1;

	/* Without this, the track table cannot be scrolled. */
	overflow: auto;

	background-color: #ffaaff;
}

.track {
	border-bottom: 1px solid black;

	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 0.3fr;
	align-items: center;
}

.track:hover {
	cursor: pointer;
}

.footer {
	background-color: #aaaaff;
	height: 50px;
	flex-shrink: 0;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

.controls {
	display: flex;
	justify-content: center;
}

.metadata {
	display: flex;
	justify-content: center;
}

.settings {
	display: flex;
	justify-content: center;
}
